<div class="ui seven item menu">
  <div class="item">
    <%= link_to(root_path) do %>
      <%= image_tag "header.png", alt: "Act One Theater School", class: "ui medium image" %>
    <% end %>
  </div>
  <div class="ui dropdown item">
    <%= link_to(about_path) do %>
      About Us
      <i class="dropdown icon"></i>
    <% end %>
    <div class="menu">
      <%= link_to "Founder", about_founder_path, class: "item" %>
      <%= link_to "Faculty", about_faculty_path, class: "item" %>
      <%= link_to "Locations", about_locations_path, class: "item" %>
      <%= link_to "Contact Us", about_contact_path, class: "item" %>
    </div>
  </div>
  <div class="ui dropdown item">
    Our Programs
    <i class="dropdown icon"></i>
    <div class="menu">
      <% Program.all.each do |p| %>
      <%= link_to(p.title, p, class: "item") %>
      <% end %>
    </div>
  </div>
  <div class="ui dropdown item">
    Summer Camp
    <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to "Summer Camp Pictures", summer_pictures_path, class: "item" %>
      <%= link_to "Summer Camp Registration", summer_registration_path, class: "item" %>
    </div>
  </div>
  <div class="ui dropdown item">
    Impact
    <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to "Testimonials", impact_testimonials_path, class: "item" %>
      <%= link_to "Alumni", impact_alumni_path, class: "item" %>
      <%= link_to "Press", impact_press_path, class: "item" %>
      <%= link_to "Giving Back", impact_giving_back_path, class: "item" %>
    </div>
  </div>
  <div class="ui dropdown item">
    Galleries
    <i class="dropdown icon"></i>
    <div class="menu">
      <% Gallery.all.each do |g| %>
      <%= link_to(g.title, g, class: "item") %>
      <% end %>
    </div>
  </div>
  <div class="ui dropdown item">
    Registration
    <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to "Act One School Year Brochure", registration_brochure_path, class: "item" %>
      <%= link_to "Act One School Year Interactive Registration", registration_interactive_path, class: "item" %>
      <%= link_to "Registration Printing Instructions", registration_printing_path, class: "item" %>
    </div>
  </div>
</div>
