<div id="fade">
  <div class="image"><%= image_tag("landing/1.jpg", class: "ui image huge centered") %></div>
  <div class="image"><%= image_tag("landing/2.jpg", class: "ui image huge centered") %></div>
  <div class="image"><%= image_tag("landing/3.jpg", class: "ui image huge centered") %></div>
  <div class="image"><%= image_tag("landing/4.jpg", class: "ui image huge centered") %></div>
  <div class="image"><%= image_tag("landing/5.jpg", class: "ui image huge centered") %></div>
  <div class="image"><%= image_tag("landing/6.jpg", class: "ui image huge centered") %></div>
  <div class="image"><%= image_tag("landing/7.jpg", class: "ui image huge centered") %></div>
</div>
